.btn {
  display: inline-flex;
  margin: 10px 0;
  padding: 10px 20px;

  font-weight: 700;
  font-family: $ff-roboto;
  color: $color-default-white;

  background-color: $color-neon-blue;
  border: none;
  cursor: pointer;

  transition: opacity $trans-default;

  &--red {
    background-color: $color-torch-red;
  }

  &--transparent {
    margin: 0;
    padding: 10px 15px;

    font-size: 14px;
    line-height: 16.41px;
    text-transform: uppercase;

    background: $color-transparent;
    border: 1px solid $color-alice-blue-7;
    border-radius: 3px;
  }

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  @media (hover: hover), screen and (min-width: 0\0) {
    &:hover,
    &:focus {
      opacity: 0.8;
    }
  }
}
