.btn {
  display: inline-flex;
  margin: 10px 0;
  padding: 10px 20px;

  font-weight: 700;
  font-family: $ff-roboto;
  color: $color-default-white;

  background-color: $color-neon-blue;
  border: none;
  cursor: pointer;

  transition: opacity $trans-default;

  &--red {
    background-color: $color-torch-red;
  }

  &--sky-blue {
    justify-content: center;
    margin: 0;
    margin-bottom: 2px;
    padding: 15px 25px;

    font-size: 18px;
    line-height: 21px;
    color: $color-alice-blue-7;
    text-transform: uppercase;
    letter-spacing: 0.05em;

    background-color: $color-deep-sky-blue-2;
    border-radius: 3px;

    @include vp-767 {
      width: 100%;
      margin-bottom: 0;
      padding: 10px 25px;

      font-size: 14px;
      line-height: 16px;
    }
  }

  &--transparent {
    margin: 0;
    padding: 10px 15px;

    font-size: 14px;
    line-height: 16.41px;
    text-transform: uppercase;

    background: $color-transparent;
    border: 1px solid $color-alice-blue-7;
    border-radius: 3px;
  }

  &--blue {
    justify-content: center;
    padding: 14px 10px;

    font-weight: 700;
    line-height: 16px;
    color: $color-deep-sky-blue-2;

    border-color: $color-deep-sky-blue-2;
  }

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  @media (hover: hover), screen and (min-width: 0\0) {
    &:hover,
    &:focus {
      opacity: 0.8;
    }
  }
}
