.contacts-list {
  margin: 0;

  @include vp-767 {
    margin-top: 15px;
  }
}

.contacts-list p {
  line-height: 22px;

  @include vp-767 {
    margin-bottom: 15px;

    font-size: 14px;
    line-height: 19px;
  }
}
