.nav-list {
  display: flex;
  flex-wrap: wrap;
  width: 220px;
  //height: 145px;
  margin: 0;
  padding: 0;

  @include vp-1023 {
    flex-direction: column;
    height: auto;
  }
  @include vp-767 {
    padding: 0 25px 15px;
  }
}

.nav-list li {
  width: 220px;
  margin-right: 30px;
  margin-bottom: 5px;

  @include vp-1023 {
    width: 220px;
  }
  @include vp-767 {
    width: 100%;
  }

  @media (max-width: 1090px) {
    width: 200px;
    margin-right: 0;
  }
}

.nav-list:first-child {
  @include vp-1023 {
    padding-bottom: 0;
  }
}

.nav-list:first-child li {
  flex-shrink: 0;
}

.nav-list:last-child li {
  margin-right: 0;
}
