.page-header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;

  background: $perl-to-down;

  @include vp-1023 {
    position: static;
  }
}

.page-header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1160px;
  padding: 30px 0 35px;

  @include vp-1023 {
    align-items: flex-start;
    min-width: 650px;
  }
  @include vp-767 {
    min-width: 259px;
  }
}

.page-header__nav a {
  display: flex;
  align-items: center;

  line-height: 18px;
  color: $color-alice-blue-7;


  &:hover,
  &:focus {
    opacity: 0.8;
  }
}

.page-header__nav a:first-child {
  flex-shrink: 0;
  align-self: start;
  &:hover,
  &:focus {
    opacity: 1;
  }
}

.page-header__nav svg {
  width: 20px;
  height: 20px;
  margin-right: 15px;

  @include vp-1023 {
    margin-right: 0;
  }
}

.page-header__nav span {
  display: block;

  @include vp-1023 {
    display: none;
  }
}

.page-header__nav button {
  display: block;
  align-self: start;
  margin-top: 5px;

  @include vp-1023 {
    display: none;
  }
}

.page-header__contacts-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 480px;
  margin: 0;
  padding: 0;

  list-style: none;

  @include vp-1023 {
    display: grid;
    justify-content: end;
    min-width: 100px;
    margin-right: 20px;

    gap: 20px;
    grid-template-columns: repeat(auto-fit, 40px);
  }
  @include vp-767 {
    margin-right: 11px;
  }
}

.page-header__contacts-item a {
  justify-content: center;
  align-items: center;

  @include vp-1023 {
    width: 40px;
    height: 40px;
  }
}

.page-header__contacts-item a:first-child {
  &:hover,
  &:focus {
    opacity: 0.8;
  }
}
