.page-footer {
  color: $color-default-white-transparent-70;

  background-color: $color-black-pearl;
}

.page-footer .container {
  @include vp-767 {
    padding: 0;
  }
}

.page-footer a:hover,
.page-footer a:focus {
  opacity: 0.8;
}

.page-footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 51px 1px 55px;

  @include vp-1023 {
    flex-wrap: wrap;
    padding: 50px 0 65px;
  }
  @include vp-767 {
    flex-direction: column;
    padding: 35px 0;
  }
}

.page-footer__logo-social {
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: flex-start;

  @include vp-1023 {
    flex-basis: 100%;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 30px;
  }
  @include vp-767 {
    flex-direction: column;
    align-self: center;
    width: 100%;
    margin-bottom: 0;
    padding-bottom: 25px;

    border-bottom: 1px solid $color-transparent-border;
  }
}

.page-footer__logo-link {
  display: block;
  margin-bottom: 30px;

  @include vp-1023 {
    margin-bottom: 0;
  }
  @include vp-767 {
    margin-bottom: 15px;
  }
}

.page-footer dd {
  margin-left: 0;
}

.page-footer p {
  margin: 0;
}

.page-footer__nav {
  margin: 0;
  margin-right: 30px;
  margin-left: auto;

  @include vp-1023 {
    margin: 0;
  }
  @include vp-767 {
    width: 100%;

    border-bottom: 1px solid $color-transparent-border;
  }
}

.page-footer__nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  @include vp-1023 {
    flex-direction: column;
  }
}

.page-footer__nav div {
  width: 470px;

  @include vp-1023 {
    width: 220px;
  }
  @include vp-767 {
    width: 100%;
  }

  @media (max-width: 1090px) {
    width: 400px;
  }
}

.page-footer ul {
  list-style: none;
}

.page-footer a {
  line-height: 22px;
  color: $color-default-white-transparent-70;

  @include vp-767 {
    font-size: 14px;
    line-height: 19px;
  }
}

.page-footer a[href^="tel:"] {
  line-height: 25px;

  @include vp-767 {
    font-size: 14px;
    line-height: 25px;
  }
}

.page-footer__contacts {
  margin: 0;

  @include vp-767 {
    width: 100%;

    border-bottom: 1px solid $color-transparent-border;
  }
}

.page-footer__contacts div {
  width: 345px;

  @include vp-1023 {
    width: 320px;
  }
  @include vp-767 {
    width: 100%;
  }
}

.page-footer__nav dt,
.page-footer__contacts dt {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 19px;

  letter-spacing: 0.05em;

  @include vp-767 {
    margin-bottom: 0;
  }
}

.page-footer__nav h2,
.page-footer__contacts h2 {
  margin: 0;

  font-weight: 400;
  font-size: 15px;
  line-height: 16px;
  font-family: $ff-roboto;
  color: $color-default-white;
  text-transform: uppercase;
}

.page-footer__button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 20px;
  padding: 0;

  font-weight: 400;
  font-size: 15px;
  line-height: 16px;
  font-family: $ff-roboto;
  color: $color-default-white;
  text-transform: uppercase;
  letter-spacing: 0.05em;

  background: transparent;
  border: none;
  cursor: default;

  @include vp-767 {
    height: 52px;
    padding: 0 25px;
  }

  &--tab-js {
    @include vp-767 {
      cursor: pointer;
    }
  }

  &-svg--plus,
  &-svg--minus {
    display: none;

    @include vp-767 {
      display: block;
    }
  }

  &-svg--no-js {
    display: none;

    @include vp-767 {
      display: none;
    }
  }
}

.page-footer__button-svg--js {
  display: none;

  @include vp-767 {
    display: inline-block;

    font-size: 25px;
    vertical-align: baseline;
  }
}
